@charset "UTF-8";

/* ESTILO PARA IMPRESSORAS*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none; 
    /*Para nao mostrar nada, ja que nao faz sentido ter um menu na impressao*/
}

article{
    width: 100%;
}

article::after{ /*Para mostrar depois do artigo*/
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com ';
}