@charset "UTF-8";

/* ESTILO PARA TELAS*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(141, 141, 141);
}

header h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(99, 98, 98);
}

menu li{
    display: inline-block;
    padding: 10px;
    background-color: rgb(66, 66, 66);
    color: white;
}

article{
    width: 600px;
    display: block;
    margin: auto;
}